@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}

.img-fluid{
    height: auto;
    max-width: 100%;
}

.nav-container{
    width: 100%;
    background: #f3f3f3;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.nav-menu{
    display: flex;
}

.nav-menu li a{
    padding: 0 1rem;
    color: #222;
}
